<!DOCTYPE html>
<html>
<head>
	<title>Frig off!</title>
	<meta charset="UTF-8">
	<style>
		body {
			background-color: #201EC7;
		}
		pre {
			color: #F62EC8;
		}
		.center {
			margin: auto;
			width: 50%;
			padding: 10px;
			text-align: center;
		}
	</style>
</head>

<body>
<div class="center">
	<pre>
 /$$$$$$$$        /$$          
| $$_____/       |__/          
| $$     /$$$$$$  /$$  /$$$$$$ 
| $$$$$ /$$__  $$| $$ /$$__  $$
| $$__/| $$  \__/| $$| $$  \ $$
| $$   | $$      | $$| $$  | $$
| $$   | $$      | $$|  $$$$$$$
|__/   |__/      |__/ \____  $$
                      /$$  \ $$
                     |  $$$$$$/
                      \______/  
                                
	</pre>
</div>
<br>
<div class="center">
	<pre>
            /$$$$$$   /$$$$$$ 
           /$$__  $$ /$$__  $$
  /$$$$$$ | $$  \__/| $$  \__/
 /$$__  $$| $$$$    | $$$$    
| $$  \ $$| $$_/    | $$_/    
| $$  | $$| $$      | $$      
|  $$$$$$/| $$      | $$      
 \______/ |__/      |__/      
                              
                              
                                   
	</pre>
</div>
<br>
<div class="center">
	<pre>

 /$$      /$$ /$$
| $$  /$ | $$| $$
| $$ /$$$| $$| $$
| $$/$$ $$ $$| $$
| $$$$_  $$$$|__/
| $$$/ \  $$$    
| $$/   \  $$ /$$
|__/     \__/|__/
                 
                 
                 
              
	</pre>
</div>
</body>

</html>