<!DOCTYPE html>
<html>
<head>
	<title>Hey "Bud"</title>
	<meta charset="UTF-8">
</head>

<body>
<div class="center">
	<pre>
 /$$$$$$$$        /$$                
|__  $$__/       | $$                
   | $$  /$$$$$$ | $$   /$$  /$$$$$$ 
   | $$ |____  $$| $$  /$$/ /$$__  $$
   | $$  /$$$$$$$| $$$$$$/ | $$$$$$$$
   | $$ /$$__  $$| $$_  $$ | $$_____/
   | $$|  $$$$$$$| $$ \  $$|  $$$$$$$
   |__/ \_______/|__/  \__/ \_______/
                                     
                                     
	</pre>
</div>
<br>
<div class="center">
	<pre>
            /$$$$$$   /$$$$$$ 
           /$$__  $$ /$$__  $$
  /$$$$$$ | $$  \__/| $$  \__/
 /$$__  $$| $$$$    | $$$$    
| $$  \ $$| $$_/    | $$_/    
| $$  | $$| $$      | $$      
|  $$$$$$/| $$      | $$      
 \______/ |__/      |__/      
                              

	</pre>
</div>
<br>
<div class="center">
	<pre>
           /$$       /$$
          | $$      | $$
  /$$$$$$ | $$$$$$$ | $$
 /$$__  $$| $$__  $$| $$
| $$$$$$$$| $$  \ $$|__/
| $$_____/| $$  | $$    
|  $$$$$$$| $$  | $$ /$$
 \_______/|__/  |__/|__/
                        
                        
                        
	</pre>
</div>
<a href="http://patorjk.com/software/taag/">Source for awesome ASCII Text Art</a>
</body>

</html>